*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/bg.png');
    background-size: cover;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-canvas {
    height: 75%;
    aspect-ratio: 16/9;
    border: 3px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
    background-color: wheat;
}

